colorama
requests
bs4
beautifulsoup4
urllib3
lxml
fake-useragent
termcolor
pyfiglet
rich
tqdm
dnspython
whois
socketIO-client
rich
colorama
pyfiglet
pyautogui 
ip2geotools
scapy
pyautogui
cryptography
crypto
pygame
faker
pyperclip
termcolor
pystyle
django
wikipedia
imdbpy
psutil
pikepdf
phonenumbers
opencage
folium
shodan
numpy
asyncio
proxybrocker
